<form action='/listings' method='POST'>
  <input type='text' name='name-space' placeholder='Add your space...'/> <br>
  <textarea type='text' name='description-space' placeholder='Describe your space...'></textarea> <br>
  <input type='number' name='price-space' placeholder='Add price...'/> <br>
  <input type='submit' value='List home' /><br>
</form>