<STYLE>A {text-decoration: none;} </STYLE>
<div class="topnav" style="text-align: right;">
  <a class="button" href="/listings">Listings</a>
  <a class="button" href="#contact">Contact</a>
  <a class="button" href="#about">About</a>
</div>

<%= yield %>
