<ul class='navbar'>
  <li>
    <form action='/listings' method='get'>
      <input class='button' type='submit' value='Listings'>
    </form>
  </li>
  <li>
    <form action='/requests' method='get'>
        <input class='button' type='submit' value='Requests'>
    </form>
  </li>
  <li>
    <form action='/sessions' method='post'>
        <input class='button' type='submit' value='Sign out'>
    </form>
  </li>
</ul>

<%= yield %>
