<h1>Book a Home</h1>
<h2>View all of our wonderful properties!</h2>
 <br>

<form action='/listings/new'>
  <input type='submit' value='List a property'>
</form>

<br>

  <% @listings.each do |listing| %>
    <div style='border-style: solid'>
      <h2><%= listing.name %></h2>
      <h3><%= listing.description %></h3>
      <h3>£<%= listing.price %>.00 per night</h3>   
    </div>
  <% end %>
