<h1>Book a Home</h1>
<h2>View all of our wonderful properties!</h2>
 <br>

<form action='/listings' method='POST'>
  <input type='submit' value='List a property'>
</form>

<br>

<div style='border-style: solid'>
  <h2>Mid-Century Modern Home</h2>
  <h3>In beautiful, sunny Miami by the Oc...</h3>
  <h3>£200.00 per night</h3>
</div>