<title>Listings</title>

<h1 style="text-align:center;">Book a Home</h1>
<h2 style="text-align:center;">View all of our wonderful properties!</h2>
 <br>

<div style="text-align:center;">
  <form action='/listings/new'>
    <input type='submit' value='List a property' >
  </form>
</div>

<br>


  <% @listings.each do |listing| %>
    <div class="listing">
      <table class="center" >
        <tr>
          <td><h3><%= listing.name %></h3></td>
          <td style="text-align: right;"> 
            <form action="/listings/<%= listing.id %>">
              <input type='submit' value='view details'/>
            </form> 
          </td>
        </tr>
        <tr>
          <td><p><%= listing.description %></p></td>
          <td style="text-align:right;"><h4>£<%= (listing.pence_price / 100) %>.00 per night</h4></td>
        </tr>
      </table>
    </div>
  <% end %>
</table>