<div style='text-align: center;'>
  <h2>ScareBnB - Sign up, it's quick and easy!</h2>
  <form action='/users' method='post'>
    <input type='text' name='first_name' placeholder='First Name...'/></br>
    <input type='text' name='last_name' placeholder='Last Name...'/></br>
    <input type='text' name='user_name' placeholder='User Name...'/></br>
    <input type='email' name='email' placeholder='Email...'/></br>
    <input type='password' name='password' placeholder='Password...'required/></br>
    <input type='submit' value='Register'></br>
  </form>
</div>