<title>Requests</title>


<h1 style="text-align:center;">Beautiful relaxing Space</h1>
<h2 style="text-align:center;">Pick a night!</h2>
 <br>

<form action="/requests_page" method="post" target="_blank">
  <label for="start date">Start Date:</label>
  <input type="date" id="start date" name="start date" required><br><br>
  <label for="end date">End Date:</label>
  <input type="date" id="end date" name="end date" required><br><br>
  <input type="submit" value="Request to book">
</form>

