
<h1 style="text-align:center;">Request for <%=@listing.name%></h1>

<h3 style="text-align:center;">From Date<%=@booking.start_date%></h3>
<h3 style="text-align:center;">End Date<%=@booking.end_date%></h3>