<h2 style="text-align:center;">ScareBnB - Sign in, and get spooky!</h2>
<div style="text-align:center;">
  <form id='create_new_session' action='/sessions' method='post'>
    <input type='email' name='email' placeholder='Email...'/></br>
    <input type='password' name='password' placeholder='Password...'required/></br>
    <input type='submit' value='Sign in'></br>
  </form>
</div>
