body {
  font-family: verdana;
}

h1 {
  color: rgb(36, 36, 36);
  font-size: 32pt;
  text-align: center;
}

h2 {
  color: coral;
  font-style: italic;
}

h4 {
  font-style: italic;
}

input {
  width: 300pt;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input.details {
  width: 80pt;
}

textarea {
  width: 300pt;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

table.center {
  width: 60%;
  margin-left: 20%; 
  margin-right: 20%;
  border-style: 1px solid;
  border-color: coral;
}

th, td {
  padding: 10px;
  margin: 8px;
}

tr {
  border: 1px solid;
}

.button {
  background-color: coral;
  border-radius: 8px;
  color: black;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer; 
  width: 100px; 
  padding: 10px;
  margin: 10px;
}

.navbar{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: right;

  padding: 0px;
  }

.left {
  margin-right:auto;
}

.bubble_font{
  font-family: 'Bubbler One', sans-serif;
}

.hidden{
  visibility: hidden;
}

.requests{
  text-align: center;
  border: grey;
}

.inline_buttons{
  text-align: center;
}